<div class="col-md-12 d-flex">
  <form class="form-inline" [formGroup]='budgetForm' (ngSubmit)='createRecord()'>
    <div class="form-group mx-sm-1">
      <label for="amount" class="sr-only">Amount</label>
      <input type="number" class="form-control" id="amount" formControlName='amount'
        [ngClass]="{
          'is-invalid': (
            budgetForm.get('amount').touched ||
            budgetForm.get('amount').dirty) &&
            !budgetForm.get('amount').valid
        }"
      >
      <div class="invalid-feedback">
        <span *ngIf="budgetForm.get('amount').errors?.required">Amount is required</span>
      </div>
    </div>
    <div class="form-group mx-sm-1">
      <label for="description" class="sr-only">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Description..." formControlName='description'
        [ngClass]="{
          'is-invalid' : (
            budgetForm.get('description').touched ||
            budgetForm.get('description').dirty) &&
            !budgetForm.get('description').valid
        }"
      >
      <div class="invalid-feedback">
        <span *ngIf="budgetForm.get('description').errors?.required">Description is required.</span>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]='!budgetForm.valid'>Add</button>
  </form>
</div>

